<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Messaging App</a>


        <ul class="navbar-nav mr-auto" >
            <ng-container *ngIf="accountService.currentUser$ |async">
            <li class="nav-item ">
                <a class="nav-link" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/messages" routerLinkActive="active">Messages</a>
            </li>
        </ng-container> 
        </ul>

        <div class="dropdown" *ngIf="(accountService.currentUser$ |async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>
                Welcome {{user.username |titlecase}}
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" *dropdownMenu>
                <li><a class="dropdown-item" href="#"><i class="fa fa-user"></i>Edit Profile</a></li>
                <div class="dropdown-divider"></div>
                <li><a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-sign-out"></i>Logout</a></li>
            </ul>
        </div>


        <form *ngIf="(accountService.currentUser$ |async)===null" #loginForm="ngForm" (ngSubmit)="login()"
            class="form-inline mt-2 mt-md-0" autocomplete="off">
            <input class="form-control mr-sm-2" type="text" placeholder="UserName" name="username"
                [(ngModel)]="model.username">
            <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password"
                [(ngModel)]="model.password">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Login</button>
        </form>

    </div>
</nav>